:root.theme1 {
    --background-color: #050a18;
    --main-text-color: rgb(116, 112, 131);
    --secondary-text-color: white;
    --hover-color: white;
    --border-color: #1e2345;
    --font-1: 'Space Grotesk', sans-serif;
    --mouse-color: white;
    --typing-area-color: rgba(0, 0, 0, 0.5);
    --scroll-bar-color: rgb(116, 112, 131);
    --menu-hover-color: rgb(126, 87, 194);
}

:root.theme2 {
    --background-color: #1f1f1f;
    --main-text-color: #cccccc;
    --secondary-text-color: white;
    --border-color: #777777;
    --hover-color: #ffffff;
    --font-1: 'Raleway', sans-serif;
    --mouse-color: white;
    --typing-area-color: rgb(26, 22, 22);
    --scroll-bar-color: #cccccc;
    --menu-hover-color: rgb(126, 87, 194);
}

:root.theme3 {
    --background-color: #222831;
    --main-text-color: #79a7ca;
    --secondary-text-color: #EEEEEE;
    --border-color: #00ADB5;
    --hover-color: #71C9CE;
    --font-1: 'Arvo', serif;
    --mouse-color: white;
    --typing-area-color: #393E46;
    --scroll-bar-color: #79a7ca;
    --menu-hover-color: rgb(126, 87, 194);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    transition: background-color 300ms ease;
}

nav {
    display: flex;
    height: 12vh;
    border-bottom: 1px solid var(--border-color);
    transition: border-bottom 300ms ease;
}

.nav-mobile-section {
    flex-grow: 1;
    display: flex;
}

.logo {
    justify-content: flex-start;
}

.logo,
.features {
    width: 30vw;
}

.about,
.profile {
    width: 20vw;
}

.profile>div>a {
    padding: 2rem 1.5rem;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: var(--font-1);
    transition: font-family, color 300ms ease;
}

a:hover {
    color: var(--hover-color);
}

.logo-name {
    margin-left: 2rem;
    font-size: 2.2rem;
}

.grow-link {
    padding: 2rem 1.5rem;
}

.border-link {
    padding: 0.5rem;
    transition: all 300ms ease;
    transition-property: border;
}

.border-link:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms ease;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms ease;
}

.features>div>a {
    font-size: 1.1rem;
    font-weight: 500;
}


.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms ease;
}

.about>div>a {
    transition: all 300ms ease;
}

.about>div>i {
    color: var(--main-text-color);
    font-size: 1rem;
    padding: 0.8rem;
    transition: color 300ms ease;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile>div {
    font-size: 1rem;
    color: var(--main-text-color);
    transition: color 300ms ease;
}

.test-link a {
    color: rgb(126, 87, 194);
    transition: all 300ms ease;
}

.test-link a:hover {
    color: var(--hover-color);
}

#nav-toggle-btn {
    align-items: center;
    background-color: transparent;
    border: none;
    border-color: var(--border-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 1000;
}

#nav-toggle-btn:hover,
#nav-toggle-button:hover>span {
    color: var(--menu-hover-color);
    transition: color 300ms ease;
}

#nav-toggle-btn>span,
#nav-toggle-btn>i {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
}

/* popup */

.popup {
    display: none;
}

.popup-wraper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
}

.photo-select {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.photo-select img {
    width: 8rem;
    border-radius: 50%;
    cursor: pointer;
}

/* content */

.content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: calc(1 / 2 * (100vh - 12vh)) calc(1 / 2 * (100vh - 12vh));
    overflow: hidden;
}

/* user */

.user {
    grid-column: 1;
    grid-row: 1;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: border-right 300ms ease;
    transition: border-bottom 300ms ease;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 5px;
}

.photo {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: start;

}

.photo img {
    width: 7rem;
    border-radius: 50%;
    cursor: pointer;
}

.photo i {
    color: var(--main-text-color);
    font-size: 1rem;
    cursor: pointer;
    transition: color 300ms ease;
}

.photo i:hover {
    color: var(--secondary-text-color);
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.name {
    color: var(--secondary-text-color);
    font-family: var(--font-1);
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    transition: color, font-family 300ms ease;
}

.name i {
    font-size: 0.8rem;
    color: var(--main-text-color);
    cursor: pointer;
    position: absolute;
    top: 0;
    margin: 0rem 0.5rem;
    transition: color 300ms ease;
}

.name i:hover {
    color: var(--secondary-text-color);
}

.name span:focus {
    outline: none;
    caret-color: yellow;
}

.username {
    color: var(--secondary-text-color);
    font-family: var(--font-1);
    font-size: 1.2rem;
    transition: color, font-family 300ms ease;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
}

.best-score {
    color: var(--main-text-color);
    font-family: var(--font-1);
    font-size: 1.2rem;
    margin-bottom: 10px;
    transition: color, font-family 300ms ease;
}

.best-score span {
    color: white;
    margin-left: 10px;
    font-size: 1.4rem;
}

.rank {
    color: var(--main-text-color);
    font-family: var(--font-1);
    font-size: 1.2rem;
    margin-bottom: 10px;
    transition: color, font-family 300ms ease;
}

.rank span {
    color: var(--secondary-text-color);
    margin-left: 10px;
    font-size: 1.4rem;
    transition: color 300ms ease;
}

.completed-tests {
    color: var(--main-text-color);
    font-family: var(--font-1);
    font-size: 1.2rem;
    margin-bottom: 10px;
    transition: color, font-family 300ms ease;
}

.completed-tests span {
    color: var(--secondary-text-color);
    margin-left: 10px;
    font-size: 1.4rem;
    transition: color 300ms ease;
}

.joined-date {
    color: var(--main-text-color);
    font-family: var(--font-1);
    font-size: 1.2rem;
    transition: color, font-family 300ms ease;
}

.joined-date span {
    color: var(--secondary-text-color);
    margin-left: 10px;
    font-size: 1.4rem;
    transition: color 300ms ease;
}

/* review */

.review {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: border-right 300ms ease;
}

.heading {
    color: var(--main-text-color);
    font-size: 1.4rem;
    font-family: var(--font-1);
    width: 80%;
    transition: color, font-family 300ms ease;
}

.text-area {
    position: relative;
    width: 80%;
    height: 50%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    background-color: var(--typing-area-color);
    caret-color: yellow;
    outline: none;
    overflow-y: scroll;
    transition: border, background-color 300ms ease;
}

.text-area::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

.text-area::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
    border-radius: 5px;
}

.text-area p:focus {
    outline: none;
}

.thanks-msg {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.hidden {
    display: none;
}

.thanks-msg p {
    margin: auto;
    width: max-content;
}

.btns {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.btns a {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 1.3rem;
    font-family: var(--font-1);
    transition: color, font-family 300ms ease;
}

.btns a:hover {
    color: var(--hover-color);
}

.graph {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.graph {
    height: 100%;
    width: 100%;
}

.map {
    grid-column-start: 2;
    grid-row-start: 2;
}


#chart_div {
    width: 100%;
    height: 100%;
}

#calendar_basic {
    position: relative;

}

#calendar_basic svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouseCaret {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: var(--mouse-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    will-change: transform;
    transform-origin: 100% 100%;
    transition: all 300ms ease;
    transition-property: background, transform;
    backdrop-filter: grayscale(100%);
    transform-style: preserve-3d;
    pointer-events: none;
    z-index: 9999;
}

.caret-grow {
    transform: scale(3);
    background-color: var(--mouse-color);
    color: black;
    mix-blend-mode: difference;
}

.caret-grow-heading {
    background-color: white;
    color: black;
    mix-blend-mode: difference;
}

.hovered-link {
    color: var(--hover-color);
}

.hovered-border {
    border: 1px solid white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
}

.clicked {
    animation: click 500ms ease;
}

@-webkit-keyframes click {

    0%,
    100% {
        padding: 0px;
    }

    50% {
        padding: 20px;
    }
}

@keyframes click {

    0%,
    100% {
        padding: 0px;
    }

    50% {
        padding: 20px;
    }
}

@media(max-width: 1200px) {
    .content {
        grid-template-columns: 100vw;
        grid-template-rows: repeat(4, 50vh) 5vh;
        overflow: scroll;
        height: max(100%, 900px);
    }

    .content::-webkit-scrollbar {
        background-color: transparent;
        width: 4px;
    }
    
    .content::-webkit-scrollbar-thumb {
        background-color: var(--main-text-color);
        border-radius: 5px;
    }

    .user {
        grid-column: 1;
        grid-row: 1;
        padding: 2rem;
        margin: 0;
        padding-bottom: 0rem;
        border: none;
    }

    .review {
        grid-column: 1;
        grid-row: 4;
    }

    .graph {
        grid-column: 1;
        grid-row: 2;
    }

    .map {
        grid-column: 1;
        grid-row: 3;
    }

    .upper {
        justify-content: space-around;
        gap: 15rem;
        width: 100%;
    }

    .photo {
        width: 1rem;
    }

    .photo img {
        width: 10rem;
    }


    .photo i {
        font-size: 1rem;
    }


    .user-info {
        gap: 1rem;
    }

    .name {
        font-size: 2.5rem;
    }

    .name i {
        font-size: 1rem;
    }

    .username {
        font-size: 1.5rem;
    }

    .bottom {
        width: 100%;
    }

    .best-score {
        font-size: 1rem;
    }

    .best-score span {
        font-size: 1.5rem;
    }

    .rank {
        font-size: 1rem;
    }

    .rank span {

        font-size: 1.5rem;
    }

    .completed-tests {
        font-size: 1rem;
    }

    .completed-tests span {
        font-size: 1.5rem;
    }

    .joined-date {
        font-size: 1rem;
    }

    .joined-date span {
        font-size: 1.5rem;
    }

    .review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

    }

    .heading {
        font-size: 1.5rem;
        width: 80%;
    }

    .text-area {
        width: 80%;
        height: 50%;
        font-size: 1.5rem;
        overflow: hidden;
    }

    .thanks-msg {
        font-size: 2rem;
    }

    .btns a {
        font-size: 1.5rem;
    }

    .btns a:hover {
        color: var(--hover-color);
    }

    .graph {
        height: 100%;
        width: 100%;
    }

    .map {
        height: 100%;
        width: 100%;
    }

    .heatmap {
        height: 100%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .heatmap::-webkit-scrollbar {
        background-color: transparent;
        width: 2px;
    }
    
    .heatmap::-webkit-scrollbar-thumb {
        background-color: var(--main-text-color);
        border-radius: 5px;
    }

    #chart_div {
        width: 100%;
        height: 100%;
    }

    #calendar_basic {
        position: relative;
        width: 100%;
        height: 100%;
        /* overflow-x: scroll; */
    }

    #calendar_basic svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        /* overflow-x: scroll; */
        transform: translate(-50%, -50%);
    }
}

@media(max-width: 800px) {
    .content {
        grid-template-rows: repeat(4, 35vh) 5vh;
    }

    .user {
        padding: 1rem;
        gap: 1rem;
    }

    .upper {
        gap: 5rem;
    }

    .photo {
        width: 1rem;
    }

    .photo img {
        width: 5rem;
    }

    .photo i {
        font-size: 0.8rem;
    }

    .user-info {
        gap: 0.8rem;
    }

    .name {
        font-size: 1.4rem;
    }

    .name i {
        font-size: 0.6rem;
        margin: 0rem 0.25rem;
    }

    .username {
        font-size: 1rem;
    }

    .bottom {
        width: 100%;
    }

    .best-score {
        font-size: 0.8rem;
    }

    .best-score span {
        font-size: 1rem;
    }

    .rank {
        font-size: 0.8rem;
    }

    .rank span {

        font-size: 1rem;
    }

    .completed-tests {
        font-size: 0.8rem;
    }

    .completed-tests span {
        font-size: 1rem;
    }

    .joined-date {
        font-size: 0.8rem;
    }

    .joined-date span {
        font-size: 1rem;
    }

    .review {
        padding: 1rem;
    }

    .heading {
        font-size: 1rem;
        width: 100%;
    }

    .text-area {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        overflow: hidden;
    }

    .thanks-msg {
        font-size: 1.2rem;
    }

    .btns a {
        font-size: 1rem;
    }

    nav {
        justify-content: space-between;
    }

    nav[data-toggled="true"]>.nav-mobile-section {
        transform: translateY(0%);
    }

    nav[data-toggled="true"]>#nav-toggle-btn {
        border-left: none;
    }

    nav[data-transitionable='true']>.nav-mobile-section {
        transition: transform 400ms ease;
    }

    nav {
        height: 10vh;
    }

    nav>div {
        border-right: none;
    }

    .logo {
        border: none;
        padding: 0;
    }

    .logo-name {
        margin-left: 0.5rem;
        padding: 0;
        font-size: 1.5rem;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        color: var(--secondary-text-color);
        border: 0;
        justify-content: center;
        align-items: center;
    }

    .features>div>a {
        font-size: 2.5rem;
    }

    .about {
        flex-direction: row;
        margin: 4rem;
        gap: 5rem;
        color: var(--secondary-text-color);
        border: 0;
    }

    .nav-mobile-section {
        background-color: var(--background-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        gap: 2rem;
        position: fixed;
        transform: translateY(-100%);
        z-index: 1000;
        border: none;
    }

    #nav-toggle-btn {
        display: flex;
    }

    .about a {
        font-size: 1.5rem;
    }

    .profile a {
        font-size: 2rem;
    }

    .mouseCaret {
        display: none;
    }
}

@media (max-width: 480px) {
    .upper {
        gap: 0.5rem;
    }

    .photo {
        width: 0.8rem;
    }
}

@media(max-height: 450px) {
    .content {
        grid-template-rows: repeat(4, 60vh) 5vh;
    }

    nav {
        height: 50vh;
    }

    nav[data-toggled="true"]>.nav-mobile-section {
        transform: translateY(0%);
    }

    .logo {
        border: none;
        padding: 0;
    }

    .logo-name {
        margin-left: 0.5rem;
        padding: 0;
        font-size: 1rem;
    }

    .features {
        gap: 2rem;
    }

    .features>div>a {
        font-size: 1.5rem;
    }

    .about {
        margin: 2rem;
        gap: 3rem;
    }

    .about a {
        font-size: 1rem;
    }

    .profile a {
        font-size: 1.5rem;
    }
}

.no-transition * {
    transition: none !important;
}