:root {
    --color-1: rgb(116, 112, 131);
    --color-2: #1e2345;
    --font-1: 'Space Grotesk', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #050a18;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    height: 12vh;
    border-bottom: 1px solid #1e2435;
}

.nav-mobile-section {
    flex-grow: 1;
    display: flex;
}

.logo {
    justify-content: flex-start;
}

.logo , .features {
    width: 30vw;
}

.about, .profile {
    width: 20vw;
}

.profile > div > a {
    padding: 2rem 1.5rem;
}

p {
    font-family: 'Space Grotesk', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(116,112,131);
    font-family: 'Space Grotesk', sans-serif;
}

.logo-name {
    margin-left: 2rem;
    font-size: 2.2rem;
}

.grow-link {
    padding: 2rem 1.5rem;
}

.border-link {
    padding: 0.5rem;
    transition: all 300ms ease;
    transition-property: border;
}

.border-link:hover {
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: center;
    border-right: 1px solid #1e2345;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #1e2345;
}

.features > div > a {
    font-size: 1.1rem;
    font-weight: 500;
}


.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #1e2345;
}

.about > div > a{
    transition: all 300ms ease;
}
.about > div > i {
    color: rgba(116,112,131);
    font-size: 1rem;
    padding: 0.8rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: 1px solid #1e2345; */
}

.profile > div {
    font-size: 1rem;
    color: rgba(116,112,131);
}

.test-link a {
    color:rgb(126, 87, 194);
    transition: all 300ms ease;
}

.test-link a:hover {
    color: white;
}

#nav-toggle-btn {
    align-items: center;
    background-color: transparent;
    border: none;
    border-color: rgb(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 1000;
}

#nav-toggle-btn:hover,
#nav-toggle-button:hover > span {
  color: rgb(126, 87, 194);
}

#nav-toggle-btn > span,
#nav-toggle-btn > i { 
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}

/* content */

.content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: calc(1 / 2 * (100vh - 12vh)) calc(1 / 2 * (100vh - 12vh));
    overflow: hidden;
}

/* user */

.user {
    grid-column: 1;
    grid-row: 1;
    border-right: 1px solid var(--color-2);
    border-bottom: 1px solid var(--color-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 5px;
}

.photo {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: start;

}

.photo i {
    color: var(--color-1);
    font-size: 1rem;
    cursor: pointer;
}

.photo i:hover {
    color: white;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.name {
    color: white;
    font-family: var(--font-1);
    font-size: 1.5rem;
    text-align: center;
    position: relative;
}

.name i {
    font-size: 0.8rem;
    color: var(--color-1);
    cursor: pointer;
    position: absolute;
    top: 0;
    margin: 0rem 0.5rem ;
}

.name i:hover {
    color: white;
}

.name span:focus {
    outline: none;
    caret-color: yellow;
}

.username {
    color: white;
    font-family: var(--font-1);
    font-size: 1.2rem;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
}

.best-score {
    color: var(--color-1);
    font-family: var(--font-1);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.best-score span {
    color: white;
    margin-left: 10px;
    font-size: 1.4rem;
}

.rank {
    color: var(--color-1);
    font-family: var(--font-1);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.rank span {
    color: white;
    margin-left: 10px;
    font-size: 1.4rem;
}

.completed-tests {
    color: var(--color-1);
    font-family: var(--font-1);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.completed-tests span {
    color: white;
    margin-left: 10px;
    font-size: 1.4rem;
}

.joined-date {
    color: var(--color-1);
    font-family: var(--font-1);
    font-size: 1.2rem;
}

.joined-date span {
    color: white;
    margin-left: 10px;
    font-size: 1.4rem;
}

/* review */

.review {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    border-right: 1px solid var(--color-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.heading {
    color: var(--color-1);
    font-size: 1.4rem;
    font-family: var(--font-1);
    width: 80%;
}

.text-area {
    position: relative;
    width: 80%;
    height: 50%;
    border: 1px solid var(--color-2);
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    caret-color: yellow;
    outline: none;
    overflow-y: scroll;
}

.text-area::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

.text-area::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    border-radius: 5px;
}

.text-area p:focus {
    outline: none;
}

.thanks-msg {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.hidden {
    display: none;
}

.thanks-msg p {
    margin: auto;
    width: max-content;
}

.btns {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.btns a {
    text-decoration: none;
    color: var(--color-1);
    font-size: 1.3rem;
    font-family: var(--font-1);
}

.btns a:hover {
    color: white;
}



.graph {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    /* border-bottom: 1px solid var(--color-2); */
}

.graph {
    height: 100%;
    width: 100%;
}

.map {
    grid-column-start: 2;
    grid-row-start: 2;
}


#chart_div {
    width: 100%;
    height: 100%;
}

#calendar_basic {
    position: relative;
    
}

#calendar_basic svg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 1200px) {
    .content{
        grid-template-columns: 100vw;
        grid-template-rows: repeat(4, 50vh) 5vh;
        overflow: scroll; 
        height: max(100%, 900px);
    }

    .user {
        grid-column: 1;
        grid-row: 1;
        padding: 2rem;
        margin: 0;
        padding-bottom: 0rem;
        border: none;
    }

    .review {
        grid-column: 1;
        grid-row: 4;
    }


    
.graph {
    grid-column: 1;
    grid-row: 2;
}

.map {
    grid-column: 1;
    grid-row: 3;
}



.upper {
    justify-content: space-around;
    gap: 15rem;
    width: 100%;
}

.photo {
    width: 1rem;
}

.photo img {
    width: 10rem;
}


.photo i {
    font-size: 1rem;
}


.user-info {
    gap: 1rem;
}

.name {
    font-size: 2.5rem;
}

.name i {
    font-size: 1rem;
}

.username {
    font-size: 1.5rem;
}

.bottom {
    width: 100%;
}

.best-score {
    font-size: 1rem;
}

.best-score span {
    font-size: 1.5rem;
}

.rank {
    font-size: 1rem;
}

.rank span {
   
    font-size: 1.5rem;
}

.completed-tests {
    font-size: 1rem;
}

.completed-tests span {
    font-size: 1.5rem;
}

.joined-date {
    font-size: 1rem;
}

.joined-date span {
    font-size: 1.5rem;
}



.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}

.heading {
    font-size: 1.5rem;
    width: 80%;
}

.text-area {
    width: 80%;
    height: 50%;
    font-size: 1.5rem;
    overflow: hidden;
}


.thanks-msg {
    font-size: 2rem;
}


.btns a {
    font-size: 1.5rem;
}

.btns a:hover {
    color: white;
}


.graph {
    height: 100%;
    width: 100%;
}

.map {
    height: 100%;
    width: 100%;
}



.heatmap {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}


#chart_div {
    width: 100%;
    height: 100%;
}

#calendar_basic {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

#calendar_basic svg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    overflow-x: scroll;
    transform: translate(-50%, -50%);
} 
       
}

@media(max-width: 800px) {
    .content{
        grid-template-rows: repeat(4,35vh) 5vh;
    }

    .user {
        padding: 1rem;
        gap: 1rem;
    }


.upper {
    gap: 5rem;
}

.photo {
    width: 1rem;
}

.photo img {
    width: 5rem;
}

.photo i {
    font-size: 0.8rem;
}


.user-info {
    gap: 0.8rem;
}

.name {
    font-size: 1.4rem;
}

.name i {
    font-size: 0.6rem;
     margin: 0rem 0.25rem ;
}

.username {
    font-size: 1rem;
}

.bottom {
    width: 100%;
}

.best-score {
    font-size: 0.8rem;
}

.best-score span {
    font-size: 1rem;
}

.rank {
    font-size: 0.8rem;
}

.rank span {
   
    font-size: 1rem;
}

.completed-tests {
    font-size: 0.8rem;
}

.completed-tests span {
    font-size: 1rem;
}

.joined-date {
    font-size: 0.8rem;
}

.joined-date span {
    font-size: 1rem;
}



.review {
    padding: 1rem;
}

.heading {
    font-size: 1rem;
    width: 100%;
}

.text-area {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    overflow: hidden;
}


.thanks-msg {
    font-size: 1.2rem;
}


.btns a {
    font-size: 1rem;
}

    nav {
        justify-content: space-between;
    }

    nav[data-toggled="true"] > .nav-mobile-section {
        transform: translateY(0%);
    }

    nav[data-toggled="true"] > #nav-toggle-btn {
        border-left: none;
    }

    nav[data-transitionable='true'] > .nav-mobile-section {
        transition: transform 400ms ease;
    }
    
    nav{
        height: 10vh;
    }

    nav > div {
        border-right: none;
    }

    .logo {
        border: none;
        padding: 0;
    }

    .logo-name {
        margin-left: 0.5rem;
        padding: 0;
        font-size: 1.5rem;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        color: white;
        border: 0;
        justify-content: center;
        align-items: center;
        /* z-index: 9998; */
    }

    .features > div > a {
        font-size: 2.5rem;
    }

    .about {
        flex-direction: row;
        margin: 4rem;
        gap: 5rem;
        color: white;
        border: 0;
    }

    .nav-mobile-section {
        background-color: rgb(6, 11, 25);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        gap: 2rem;
        position: fixed;
        transform: translateY(-100%);
        z-index: 1000;
        border: none;
    }

    #nav-toggle-btn {
        display: flex;
    }

    .about a {
        font-size: 1.5rem;
    }

    .profile a {
        font-size: 2rem;
    }

}

@media(max-height: 450px){
    .content{
        grid-template-rows: repeat(4, 60vh) 5vh;
    }

   
    nav{
        height: 50vh;
    }

    nav[data-toggled="true"] > .nav-mobile-section {
        transform: translateY(0%);
    }

    .logo {
        border: none;
        padding: 0;
    }

    .logo-name {
        margin-left: 0.5rem;
        padding: 0;
        font-size: 1rem;
    }

    .features {
        gap: 2rem;
    }

    .features > div > a {
        font-size: 1.5rem;
    }

    .about {
        margin: 2rem;
        gap: 3rem;
    }

    .about a {
        font-size: 1rem;
    }

    .profile a {
        font-size: 1.5rem;
    }
}
