:root.theme1 {
    --background-color: #050a18;
    --main-text-color: rgb(116, 112, 131);
    --secondary-text-color: white;
    --hover-color: white;
    --border-color: #1e2345;
    --font-1: 'Space Grotesk', sans-serif;
    --mouse-color: white;
    --scroll-bar-color: rgb(116, 112, 131);
    --move-btns-hover-color: rgba(30, 36, 53, 0.16);
    --menu-hover-color: rgb(126, 87, 194);
}

:root.theme2 {
    --background-color: #1f1f1f;
    --main-text-color: #cccccc;
    --secondary-text-color: white;
    --border-color: #777777;
    --hover-color: #ffffff;
    --font-1: 'Raleway', sans-serif;
    --mouse-color: white;
    --scroll-bar-color: #cccccc;
    --move-btns-hover-color: rgba(30, 36, 53, 0.16);
    --menu-hover-color: rgb(126, 87, 194);
}

:root.theme3 {
    --background-color: #222831;
    --main-text-color: #79a7ca;
    --secondary-text-color: #EEEEEE;
    --border-color: #00ADB5;
    --hover-color: #71C9CE;
    --font-1: 'Arvo', serif;
    --mouse-color: white;
    --scroll-bar-color: #79a7ca;
    --move-btns-hover-color: rgba(30, 36, 53, 0.16);
    --menu-hover-color: rgb(126, 87, 194);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    transition: background-color 300ms ease;
}

nav {
    display: flex;
    height: 12vh;
    border-bottom: 1px solid var(--border-color);
    transition: border-bottom 300ms ease;
}

.nav-mobile-section {
    flex-grow: 1;
    display: flex;
}

.logo {
    justify-content: flex-start;
}

.logo,
.features {
    width: calc(100vw/3);
}

.about,
.profile {
    width: calc(100vw/6);
}

.profile>div>a {
    padding: 2rem 1.5rem;
}

p {
    font-family: var(--font-1);
    transition: font-family 300ms ease;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: var(--font-1);
    transition: font-family, color 300ms ease;
}

.logo-name {
    margin-left: 2rem;
    font-size: 2.2rem;
}

.grow-link {
    padding: 2rem 1.5rem;
}

.border-link {
    padding: 0.5rem;
    transition: all 300ms ease;
    transition-property: border;
}

.border-link:hover {
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms ease;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms ease;
}

.features>div>a {
    font-size: 1.1rem;
    font-weight: 500;
}


.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms ease;
}

.about>div>a {
    transition: all 300ms ease;
}

.about>div>i {
    color: var(--main-text-color);
    font-size: 1rem;
    padding: 0.8rem;
    transition: color 300ms ease;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile>div {
    font-size: 1rem;
    color: var(--main-text-color);
    transition: color 300ms ease;
}

.test-link a {
    color: rgb(126, 87, 194);
    transition: all 300ms ease;
}

.test-link a:hover {
    color: var(--hover-color);
}

#nav-toggle-btn {
    align-items: center;
    background-color: transparent;
    border: none;
    border-color: var(--border-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 1000;
}

#nav-toggle-btn:hover,
#nav-toggle-button:hover>span {
    color: var(--menu-hover-color);
}

#nav-toggle-btn>span,
#nav-toggle-btn>i {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
}

main {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

article {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
    transition: all 400ms ease;
}

main>article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

main>article[data-status="active"] {
    transform: translateX(0%);
}

main>article[data-status="before"] {
    transform: translateX(-100%);
}

main>article[data-status="after"] {
    transform: translateX(100%);
}

main>article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

main>article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

article>div {
    z-index: 1;
}

.text-section {
    grid-row: span 2;
    padding: 2rem;
    overflow-y: scroll;
}

.text-section::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.text-section::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 5px;
    transition: background-color 300ms ease;
}

.text p {
    height: 100%;
    width: 100%;
    color: #ccc;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Roboto Mono', monospace;
}

.heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    background-image: url(/images/background.jpg);
    background-position: center;
    background-size: cover;
    transition: border-bottom 300ms ease;
    transition: border-right 300ms ease;
}

.heading-section>div>p {
    color: #ccc;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.move-btns {
    display: flex;
    pointer-events: all;
    border-right: 1px solid var(--border-color);
    transition: border-right 300ms ease;
}

.left-btn,
.right-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 200;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 4rem;
    transition: all 300ms ease;
}

.right-btn:hover,
.left-btn:hover {
    background-color: var(--move-btns-hover-color);
    cursor: pointer;
}

.move-btns>div {
    width: 50%;
}

.right-btn:hover {
    background-position: 60% 50%;
}

.left-btn:hover {
    background-position: 40% 50%;
}

.right-btn {
    background-image: url(https://uploads-ssl.webflow.com/60c0a5bb9df18e0c7bea5c2c/60c4ad092d9aaf42d2eeafcd_arrow.svg);
}

.left-btn {
    background-image: url(https://uploads-ssl.webflow.com/60c0a5bb9df18e0c7bea5c2c/621805871b2d3542bd12adff_arrow-back.svg);
    border-right: 1px solid var(--border-color);
}

.mouseCaret {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: var(--mouse-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    will-change: transform;
    transform-origin: 100% 100%;
    transition: all 300ms ease;
    transition-property: background, transform;
    backdrop-filter: grayscale(100%);
    transform-style: preserve-3d;
    pointer-events: none;
    z-index: 9999;
}

.caret-grow {
    transform: scale(3);
    background-color: var(--mouse-color);
    color: black;
    mix-blend-mode: difference;
}

.caret-grow-heading {
    /* transform: scale(2); */
    background-color: white;
    color: black;
    mix-blend-mode: difference;
}

.hovered-link {
    color: var(--hover-color);
}

.hovered-border {
    border: 1px solid white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
}

.clicked {
    animation: click 500ms ease;
}

@-webkit-keyframes click {

    0%,
    100% {
        padding: 0px;
    }

    50% {
        padding: 20px;
    }
}

@keyframes click {

    0%,
    100% {
        padding: 0px;
    }

    50% {
        padding: 20px;
    }
}

@media(max-width: 1200px) {

    main {
        height: max(100%, 900px);
    }

    main>article {
        grid-template-columns: none;
        grid-template-rows: 20vh repeat(2, 25vh) 15vh 5vh;
        height: max(100%, 900px);
    }


    .move-btns {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }

    article>div {
        grid-column: span 2;
    }

    .heading-section>div>p {
        margin: 0;
    }

    .text-section {
        padding: 1rem;
    }

    .text p {
        font-size: 1rem;
    }

    .left-btn,
    .right-btn {
        background-size: 3rem;
    }
}

@media(max-width: 800px) {
    nav {
        justify-content: space-between;
    }

    nav[data-toggled="true"]>.nav-mobile-section {
        transform: translateY(0%);
    }

    nav[data-toggled="true"]>#nav-toggle-btn {
        border-left: none;
    }

    nav[data-transitionable='true']>.nav-mobile-section {
        transition: transform 400ms ease;
    }

    nav {
        height: 10vh;
    }

    nav>div {
        border-right: none;
    }

    .logo {
        border: none;
        padding: 0;
    }

    .logo-name {
        margin-left: 0.5rem;
        padding: 0;
        font-size: 1.5rem;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        color: var(--secondary-text-color);
        border: 0;
        justify-content: center;
        align-items: center;
        /* z-index: 9998; */
        transition: color 300ms ease;
    }

    .features>div>a {
        font-size: 2.5rem;
    }

    .about {
        flex-direction: row;
        margin: 4rem;
        gap: 5rem;
        color: var(--secondary-text-color);
        border: 0;
        transition: color 300ms ease;
    }

    .nav-mobile-section {
        background-color: var(--background-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        gap: 2rem;
        position: fixed;
        transform: translateY(-100%);
        z-index: 1000;
        border: none;
    }

    #nav-toggle-btn {
        display: flex;
    }

    .about a {
        font-size: 1.5rem;
    }

    .profile a {
        font-size: 2rem;
    }

    article {
        grid-template-columns: none;
        grid-template-rows: 20vh 80vh 20vh;
    }

    .mouseCaret {
        display: none;
    }
}

.no-transition * {
    transition: none !important;
}